*
  margin 0
  padding 0
  box-sizing border-box
body
  background #0f0f0f
  overflow hidden
canvas
  box-shadow 0 0 10px rgba(0,0,0,.8)
  border 1px solid #161616
  margin 0 auto
  position absolute
  top 50%
  left 50%
  -webkit-transform translate(-50%,-50%)
  -ms-transform translate(-50%,-50%)
  transform translate(-50%,-50%)
